<h1>Hello, Admin!</h1>

<ul class="nav nav-pills">
  <li role="presentation"><%= link_to 'Work man', controller: 'users' %></li>
  <li role="presentation"><%= link_to 'Position', controller: 'positions' %></li>
</ul>

<h1>Listing positions</h1>

<%= link_to 'New position', new_position_path %>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% @positions.each do |position| %>
    <tr>
      <td><%= position.id %></td>
      <td><%= position.name %></td>
      <td><%= position.description %></td>
      <td><%= link_to 'Show', position_path(position) %></td>
      <td><%= link_to 'Edit', edit_position_path(position) %></td>
      <td><%= link_to 'Destroy', position_path(position),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', root_path %>