<p>
  <strong>ID:</strong>
  <%= @position.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @position.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @position.description %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>


<!-- Workman list -->
<hr>
<h2>Workman</h2>
<table>
	<tr>
	    <th>Name</th>
	    <th>Picture</th>
	    <th>Position</th>
  	</tr>
  	<% @position.users.each do |user| %>
    <tr>
  		<td><%= user.name %></td>
	    <td><%= user.picture %></td>
	    <td><%= user.position.name %></td>
	    <td><%= link_to 'Detail', user_path(user) %></td>
    </tr>
  	<% end %>
</table>