<h1>New User</h1>

<%= form_for @user do |f| %>
 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name, :placeholder => "Name" %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :picture, :placeholder => "Picture" %><br>
    <%= f.file_field :picture %>
  </p>

  <p>
    <%= f.label :position_id, :placeholder => "Position ID" %><br>
    <%= f.collection_select :position_id, Position.order(:name),:id,:name %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>

<%= link_to 'Back', users_path %>